#(project
  (#(meta
     (#(name lfecljapp)
      #(description "LFE-Clojure App"
      #(version "0.2.0")
      #(keywords ("LFE" "Lisp" "Application" "Clojure" "Interop"
                  "Interoperability" "JVM"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lfecljapp")))))
   #(app
     (#(mod #(lfecljapp ())))))))

#(logging
  (#(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend info)))))
